{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <header>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="home.html.twig">

                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <div>

        </div>
    </body>

    <footer>

    </footer>
{% endblock %}