{% extends 'base.html.twig' %}



{% block body %}

    <section>
        <blockquote>
            Bonjour et Bienvenue sur cette bibliothèque de livre de Jeu de Rôle.
            Le but ici est de pouvoir avoir accès à une liste de ses livres, d'échanger autour du jeu de rôle
            et de partager, si vous le souhaitez, les bons plans / financement participatif et bien évidemment les livres.
            {# TODO L'idée est de faire une appli de classifiction, une bibliothèque privée dans un premier temps mais ensuite d'en faire un espace de discussion autour du jdr.#}
            {# peut être un discord? mais chiant de séparer les deux... #}
        </blockquote>
    </section>

{% endblock %}

{% block title %} Bonjour. {% endblock %}