{% extends 'base.html.twig' %}

{% block title %} Bonjour. {% endblock %}

{% block body %}

    <header>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="connexion.html.twig">

                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>

    </h1>

    <body>
        <div>

        </div>
    </body>

    <footer>
        Rémy Mornet 2023, tout droits réservés.
    </footer>
{% endblock %}